@import 'tailwindcss';

@theme {
  --color-primary: #76764f;
  --color-primary-dark: #46462d;

  --color-accent: #d0ba88;
  --color-accent-light: #ebe7d3;

  --color-white: #ffffff;
  --color-white-soft: #fefefe;
  --color-black: #000000;

  --font-heading: 'Marcellus', serif;
  --font-sans: 'Montserrat', sans-serif;
  --font-display: 'MynaruseFlare-Book', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white-soft);
  color: var(--color-primary-dark);
  font-family: var(--font-body);
}
